/* .profile {
  width: 300px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  border-radius: 45%;
} */
body {
  margin: 0;
  padding: 0;
  height: 100%;
}
div {
  box-sizing: border-box;
}
a:link,
a:visited {
  text-decoration: none;
  padding: 25px;
  margin: 35px;
  background-color: white;
  color: gray;
  font-size: 35px;
  font-weight: bold;
  text-align: center;
  display: inline-block;
}
a:hover,
a:active {
  color: salmon;
}
.name {
  font-size: 20px;
  letter-spacing: 0.5px;
  color: salmon;
  text-align: center;
}
.main-title {
  position: absolute;
  top: 40%;
  left: 0;
  right: 28%;
  margin: auto;
  width: 200px;
}
.introduction {
  width: 450px;
  height: 100px;
  padding: 20px;
  border: 1px solid salmon;
  border-radius: 20px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  box-shadow: inset 0 0 5px brown, 0 0 5px salmon;
}

.main-container {
  width: 100%;
  /* display: flex; */
  /* transition: all 1s; */
}
.left-box {
  width: 20%;
  height: 100vh;
  float: left;
  display: flex;
  flex-direction: column;
}
.right-box {
  /* width: 80vw; */
  width: 80%;
  height: 100vh;
  float: right;
  background-image: url("img/IMG_9083.JPG");
  background-repeat: no-repeat;
  background-size: cover;

  /* position: relative; */
}
.fa-circle-chevron-right {
  position: relative;
  left: 1050px;
  bottom: 90px;
  z-index: 10;
  font-size: 80px;
  color: antiquewhite;
}

.fa-circle-chevron-right:hover {
  opacity: 0.5;
  transition: all 1s;
}
.fa-heart {
  position: relative;
  left: 30px;
  padding-left: 20px;
  bottom: 10px;
  font-size: 25px;
  color: rgb(228, 98, 98);
  /* float: left; */
}
.fa-heart:hover {
  opacity: 0.5;
  transition: all 1s;
}
.dark-modebtn {
  width: 90px;
  float: right;
}

/* .bg-dark {
  padding-left: 120px;
} */
.container {
  display: flex;
  position: absolute;
  left: 500px;
  top: 100px;
  background-color: bisque;
  border-radius: 50px;
}
.contact-box {
  padding: 30px;
}
.fa-circle-xmark {
  float: right;
  size: 10px;
}
input,
textarea {
  border: 0;
  border-radius: 5px;
  outline: none;
  padding-left: 10px;
  background-color: beige;
}

.first-name {
  float: left;
  margin-right: 30px;
}
.last-name {
  float: right;
}
.message {
  float: none;
}
#send-button {
  margin-top: 10px;
  padding: 10px;
  text-decoration: none;
  background-color: black;
  color: beige;
  border-radius: 30px;
}
#send-button:hover {
  background-color: coral;
  border: none;
}
/* form {
  display: none;
  z-index: 10;
  width: 500px;
  height: 500px;
  background-color: wheat;
} */
.hidden-modal {
  position: relative;
  visibility: hidden;
  opacity: 0;
  transition: all 1s;
}
.show-modal {
  visibility: visible;
  opacity: 1;
}
.hidden-information {
  visibility: hidden;
}
.show-information {
  visibility: visible;
}
@media screen and (max-width: 480px) {
  /** 모바일 세로 */
  a:link,
  a:visited {
    text-decoration: none;
    padding: 50px;
    margin: 40px;
    background-color: white;
    color: gray;
    font-size: 10px;
    font-weight: bold;
    text-align: center;
    display: inline-block;
  }
  a:hover,
  a:active {
    color: salmon;
  }
  i {
    position: relative;
    left: 800px;
    bottom: 90px;
    z-index: 10;
    font-size: 60px;
    color: antiquewhite;
  }
  .left-box {
    width: 30%;
    float: left;
    display: flex;
    flex-direction: column;
  }
  .right-box {
    width: 70%;
    height: 100vh;
    float: right;
    background-image: url("img/IMG_9083.JPG");
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
  }
}

@media screen and (max-width: 768px) {
  /** 모바일 가로, 타블렛 세로

  i {
    position: relative;
    left: 800px;
    bottom: 90px;
    z-index: 10;
    font-size: 60px;
    color: antiquewhite;
  }
  .left-box {
    width: 40%;
    float: left;
    display: flex;
    flex-direction: column;
  }
  .right-box {
    width: 60%;
    height: 100vh;
    float: right;
    background-image: url("img/IMG_9083.JPG");
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
  }
}

@media screen and (max-width: 1024px) {
  i {
    position: relative;
    left: 800px;
    bottom: 90px;
    z-index: 10;
    font-size: 60px;
    color: antiquewhite;
  }
  .left-box {
    width: 40%;
    float: left;
    display: flex;
    flex-direction: column;
  }
  .right-box {
    width: 60%;
    height: 100vh;
    float: right;
    background-image: url("img/IMG_9083.JPG");
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
  }
}

@media screen and (max-width: 1280px) {
  /** 타블렛 가로, 노트북 */

  i {
    position: relative;
    left: 800px;
    bottom: 90px;
    z-index: 10;
    font-size: 60px;
    color: antiquewhite;
  }
  .left-box {
    width: 40%;
    float: left;
    display: flex;
    flex-direction: column;
  }
  .right-box {
    width: 60%;
    height: 100vh;
    float: right;
    background-image: url("img/IMG_9083.JPG");
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
  }
}
